blessings==1.6.1
psutil==5.4.1
PySide2==5.11.1
flake8==3.5.0
pytest==3.7.4
pytest-cov==2.5.1
pytest-mock==1.10.0
coverage==4.5.1
appdirs==1.4.3
jupyter-client==5.2.2
Flask==1.0.2
Flask-Sockets==0.2.1
Flask-Login==0.4.1