<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/echarts.common.min.js"></script>
    <script async defer type="text/javascript" src="static/main.js"></script>
</head>

<body>
    <h1>permon</h1>
    <div class="charts">
        {% for stat in stats %}
        <h3>{{ stat.name }}</h3>
        <div id="{{ stat.tag }}" class="chart-container">
        </div>
        {% endfor %}
    </div>
    <a href="/settings"><button class="settings-button"></button></a>
</body>

</html>