<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/echarts.common.min.js"></script>
    <script async defer type="text/javascript" src="static/main.js"></script>
</head>

<body>
    <div class="header">
        <h1>permon <span class="text-emphasized">Stats</span></h1>
        <a href="/settings"><button class="settings-button"></button></a>
    </div>
    <div class="charts">
        {% for stat in stats %}
        <h2>{{ stat.name }}</h2>
        <div id="{{ stat.tag }}" class="chart-container">
        </div>
        {% endfor %}
    </div>
</body>

</html>