<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div class="header">
        <h1>permon <span class="text-emphasized">Settings</span></h1>
    </div>
    <h2>Enabled Monitors</h2>
    <form class="settings" method="POST" action="/settings">
        <div class="enabled-monitors">
        {% for category in categories %}
            <h3>{{ category.name }} </h3>
            {% for stat in category.stats %}
                <div class="stat">
                    <label for="{{stat.tag}}">
                        <input type="checkbox" name="{{stat.tag}}" id="{{stat.tag}}" value="{{stat.name}}" {% if stat.checked %}checked{% endif %}/>
                        {{stat.name}}
                    </label>
                </div>
            {% endfor %}
        {% endfor %}
        </div>
        <div class="continuation">
            <a href="/"><input type="button" value="Cancel"/></a>
            <input type="submit" value="Accept"/>
        </div>
    </form>
</body>
</html>