@font-face {
    font-family: Raleway;
    src: url('/assets/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Roboto Mono;
    src: url('/assets/RobotoMono-Regular.ttf') format('truetype');
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0.2em 0.8em 0.2em 0.2em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.status-badge {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Raleway;
    color: #f5f5f5;
    margin-left: auto;
    margin-right: 1em;
    border-radius: 3px;
    padding: 0.5em;
    background-color: #ed5565;
    box-shadow: 0px 0px 10px 2px #ed5565;
}

.status-badge.connected {
    background-color: #48cfad;
    box-shadow: 0px 0px 10px 2px #48cfad;
}

.settings-button {
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    background-image: url('/assets/settings.svg');
    background-repeat: no-repeat;
}

.settings {
    display: flex;
    height: calc(100% - 7rem);
    justify-content: flex-start;
    flex-direction: column;
    padding: 0.5em 2em;
}

.chart-container {
    position: relative;
    height: 100%;
}

.charts h2 {
    margin: 0.8em 0 0 60px;
}

.charts {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 4rem - 1rem - 2rem);
}

.text-emphasized {
    font-weight: lighter;
    color: white;
}

h1 {
    color: white;
    font-family: Raleway;
    font-size: 2.5rem;
}

h2 {
    margin: 0.3em 0 0 0;
    font-size: 1.7em;
}

h3 {
    margin: 0.3em;
    font-size: 1.5em;
}

h2, h3, label {
    font-weight: 300;
    font-family: Raleway;
    color: #333;
}

label {
    font-family: Roboto Mono;
}

.stat {
    font-size: 1.1em;
    padding: 0.2em 0 0.2em 2em;
}

label {
    cursor: pointer;
    font-size: 1.2em;
    display: relative;
}

input[type="checkbox"] {
    cursor: pointer;
    outline: 0;
    vertical-align: bottom;
    -webkit-appearance: none;
    background-color: #fafafa;
    height: 22px;
    width: 22px;
    margin: 0;
    padding: 0;
    margin-right: 4px;
    top: -3px;
	display: inline-block;
	position: relative;
    outline: 3px solid black;
}

input[type="checkbox"]:checked {
    background-color: #48cfad;
    border: 2px solid white;
}

.continuation {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

input[type="button"], input[type="submit"] {
    cursor: pointer;
    font-family: Raleway;
    background: None;
    border: none;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 0.7em 1em;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4), 0 3px 6px rgba(0,0,0,0.23);
}

input[type="submit"] {
    color: #f5f5f5;
    background-color: #48cfad;
}