@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    margin: 0;
    padding: 0.5em;
    background-color: #f5f5f5;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

.settings-button {
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    background-image: url('/assets/settings.svg');
    background-repeat: no-repeat;
}

.settings {
    display: flex;
    height: calc(100% - 4rem - 4rem - 1rem);
    justify-content: space-between;
    flex-direction: column;
    padding: 0.5em 2em;
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.charts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 4rem - 1rem);
}

.text-emphasized {
    color: #FBB829;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    right: 0.3em;
    top: 0;
}

h2 {
    margin: 0.3em 0 0 0;
    font-size: 1.5em;
}

h3 {
    margin: 0.3em 0;
    font-size: 1.2em;
}

h1, h2, h3, label {
    font-weight: 100;
    font-family: Raleway;
    color: black;
}

.stat {
    font-size: 1em;
    padding: 0.2em 0 0.2em 2em;
}

label {
    cursor: pointer;
    font-size: 1.2em;
    display: relative;
}

input[type="checkbox"] {
    cursor: pointer;
    outline: 0;
    vertical-align: bottom;
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    border-radius: 3px;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    margin-right: 4px;
    top: -1px;
	display: inline-block;
	position: relative;
}

input[type="checkbox"]:checked {
    background-color: #FBB829;
    border: None;
}

.continuation {
    display: flex;
    justify-content: space-between;
}

input[type="button"], input[type="submit"] {
    color: #f5f5f5;
    cursor: pointer;
    font-family: Raleway;
    background: None;
    border: None;
    border-radius: 3px;
    background-color: #FBB829;
    font-size: 1.5em;
    padding: 0.6em 1em;
}